.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.file-upload {
  //
  display: inline-block;
  padding: 6px 12px;
  label {
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;
    //width: 10em;
    margin-right: 1em;
  }
  i,
  span {
    user-select: none;
  }
  
  i{
    position: relative;
  text-align: center;
  width: 75px;
    
  }
  
  input {
    display: none;
  }

  :checked + .keep-comments-icon {
    @extend .fas;
    @extend .fa-check-square;
  }
  .file-upload-label{
    padding: 10px;
    border: 1px solid #ccc;
  }
}
